Repository cse110-sp24-group28/cse110-sp24-group28-final-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint

fix e2e tests
  jest-puppeteer.config.cjs
  package.json
  src/journal.html
  src/script.js
  src/tests/e2eTests/e2e.test.js
  src/tests/unitTests/unit.test.js
  src/utils.js
Due: npx prettier --write, npx eslint

added back generateUniqueId function
  src/script.js
Due: npx prettier --write, npx eslint

clean e2e code
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

fix not-existent
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

Ayah added mood tracker front end
  src/index.html
Due: npx prettier --write

Ayah added mood tracker front end
  src/styles.css
Due: npx prettier --write

Yuva added mood tracker back end
  src/localStorageHelper.js
  src/script.js
  src/styles.css
Due: npx prettier --write, npx eslint

Change mood trackder margin-top from -30 to -35
  src/styles.css
Due: npx prettier --write

click search will not display mood tracker
  src/components/search.js
  src/index.html
  src/script.js
Due: npx prettier --write, npx eslint

fix styling issues
  src/styles.css
  src/task.html
Due: npx prettier --write

Cleaned the commented code for the mood tracker
  src/script.js
Due: npx prettier --write, npx eslint

Update e2e.test.js
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

fix e2e tests
  src/task.html
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

edited the style for moof tracker
  src/styles.css
Due: npx prettier --write

fix format
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

fixed format
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

add code coverage
  .github/workflows/pages.yml
  .gitignore
  README.md
  package.json
Due: none

remove coverage from action
  .github/workflows/pages.yml
Due: none

Fixing git issues
  src/components/search.js
  src/tests/unitTests/search.test.js
  src/utils.js
Due: npx prettier --write, npx eslint

Added the documentation for all of the JS files so that it can be shown on JSDocs including all of the functions and tests
  src/localStorageHelper.js
  src/script.js
  src/tests/e2eTests/e2e.test.js
  src/tests/unitTests/unit.test.js
Due: npx prettier --write, npx eslint

README revamp
  README.md
Due: none

Added horizontal lines between sections in README
  README.md
Due: none

Updated README title
  README.md
Due: none

add coverage info to readme and clarify live server
  README.md
Due: none

eliminate race condition
  src/index.html
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

remove other race conditions
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

add header
  .github/workflows/pages.yml
  src/assets/fullLogo.png
  src/assets/logo.png
  src/components/header/header.css
  src/components/search/search.js
  src/index.html
  src/journal.html
  src/script.js
  src/task.html
  src/tests/unitTests/search.test.js
Due: npx prettier --write, npx eslint

trigger deploy
  .github/workflows/pages.yml
Due: none

fix links
  src/index.html
  src/journal.html
  src/task.html
Due: npx prettier --write

fix tests and links
  src/index.html
  src/journal.html
  src/task.html
  src/tests/e2eTests/e2e.test.js
Due: npx prettier --write, npx eslint

remove trigger
  .github/workflows/pages.yml
Due: none

added gif demo
  GIFdemo.gif
  README.md
Due: none

fixed gif demo length
  GIFdemo.gif
Due: none

changed Documentation to JSDoc
  README.md
Due: none

changed line for JSDoc
  README.md
Due: none

Path conditions:
  npx prettier --write: any of: src/**/*.{js,html,css}
  npx eslint: any of: src/**/*.js
